<div class="container" ng-controller="ItemCtrl as item">
	<div class="jumbotron">
		<h1 align="center">Market App</h1>
		<h2>{{ 2 + 2 }}</h2>
		<div id="item-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
			<form>
				<div class="form-group">
					<input type="text" class="form-control input-lg text-center" placeholder="Add Item" ng-model="formData.value">
					<br>
					<button type="submit" class="btn btn-primary btn-lg" ng-click="addItem()">Add Item</button>
			</div>
		</form>
	  </div>
	</div>
	</div>
	<div id="item-list" class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<div class="checkbox" ng-repeat="item in items">
				<label>
					<input type="checkbox" ng-click="item.removeItem(item)">
					{{ item.value }}
				</label>
			</div>
		</div>
	</div>
</div>